<!DOCTYPE html>
<html>
<head>
    <title>Create Page</title>
</head>
<body>
    <h1>Create</h1>
    <form method="POST" enctype="multipart/form-data" action="/products/create">
        <label for="title">Título:</label>
        <input type="text" name="title" required><br>
    
        <label for="description">Descripción:</label>
        <textarea name="description" required></textarea><br>
    
        <label for="photo">Foto:</label>
        <input type="file" name="photo" accept="image/*" required><br>
    
        <label for="price">Precio:</label>
        <input type="number" name="price" required><br>
    
        <input type="submit" value="Crear Producto">
    </form>
</body>
</html>